/*  Body Formatting
========================================================= */
  body {
      margin: 0 auto; 
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: #fff!important;
      color: #57585D!important;
  }

  img, video {
    max-width: 100%;
    vertical-align: middle;
  }

  .wrapper { 
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5em;
  }

  .centerContainer {
    position: relative;
    min-height: calc(100vh - 68px);
   }

   section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

/*  Toggle hide elements
========================================================= */
  .hide {
    display: none;
  }

 /*  Post Formatting
========================================================= */
 .post-wrapper {
   padding: 1.5em;
   max-width: 1280px;
   margin-right: auto;
   margin-left: auto;
 }
  .MuiCard-root {
    margin-bottom: 15px;
  }
  .post-item, .post-content {
    border-radius: 4px;
    overflow: hidden;
  }
  .show {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    transition: filter .25s ease-in-out;
  }
  .show:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
  }
  
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    justify-items: center; 
    margin-left: -15px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size */
    background-clip: padding-box;
  }

  .MuiFab-label, .MuiFab-root {
    color: #DC3166; 
    /* background-color: #fff!important; */
    box-shadow: none!important;
  }
  .MuiFab-extended {
    background-color: #fff!important;
    border: 1px solid rgb(225, 87, 131)!important; 
  }

  .MuiFab-root:hover {
    background-color: #DC3166!important; 
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
    color: #fff!important;
  }
  .MuiFab-label:hover {
    /* background-color: #DC3166!important;  */
    color: #fff!important;
  }